# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
.melos_tool/

# Generated plugin registrant
generated_plugin_registrant.dart

# Android
/android/.gradle/
/android/captures/
/android/.idea/
/android/local.properties
/android/app/key.properties

# iOS and macOS
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Runner.xcworkspace/
/ios/Pods/
/ios/.symlinks/
/ios/.flutter-plugins
/ios/.flutter-plugins-dependencies
/ios/.generated/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/
/macos/.flutter-plugins
/macos/.flutter-plugins-dependencies
/macos/Flutter/Generated.xcconfig
/macos/.generated/

# Web
/web/.dart_tool/
/web/generated_plugin_registrant.dart

# Windows
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/ephemeral/
/windows/CMakeFiles/
/windows/build/

# Linux
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/ephemeral/
/linux/CMakeFiles/
/linux/build/

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Misc
*.log
*.tmp
*.swp
*.DS_Store
*.lock
pubspec.lock

# Firebase
.firebase/

# Coverage
coverage/

# Dart test outputs
test/**/.dart_tool/
test/**/build/
